[submodule "sorc/WPS"]
	path = sorc/WPS
	url = https://github.com/wrf-model/WPS
        branch = master
        ignore = all
[submodule "sorc/MPAS-Model"]
	path = sorc/MPAS-Model
	url = https://github.com/RRFSx/MPAS-Model
        branch = gsl/develop
        ignore = all
[submodule "sorc/RDASApp"]
	path = sorc/RDASApp
	url = https://github.com/NOAA-EMC/RDASApp
        branch = develop
        ignore = all
[submodule "sorc/UPP"]
	path = sorc/UPP
	url = https://github.com/NOAA-EMC/UPP
        branch = develop
        ignore = all
[submodule "sorc/MPASSIT"]
	path = sorc/MPASSIT
	url = https://github.com/NOAA-GSL/MPASSIT.git
        branch = gsl/develop
        ignore = all
[submodule "sorc/RRFS_UTILS"]
	path = sorc/RRFS_UTILS
	url = https://github.com/hu5970/RRFS_UTILS.git
        ignore = all
[submodule "ush/wxflow"]
	path = ush/wxflow
	url = https://github.com/NOAA-EMC/wxflow.git
        ignore = all
