exec/
tmp/
fix/.agent
fix/tmp
fix/INIT_DONE
*.swp
__pycache__
log*
workflow/exp.*
workflow/myrrfsexps
workflow/convinfo*
workflow/satinfo*
workflow/ush/output.linter_shellcheck
ush/test_yaml_finalize
config.override
workflow/rrfsexps/
workflow/config.chemistry
sorc/build_timing.txt
superyamls
fix/ar3.5km
fix/ea5km
fix/global-15-3km
fix/eu12km
