exec/
python_graphics/
sorc/*
!sorc/CMakeLists.txt
!sorc/Externals.cfg
!sorc/manage_externals/
!sorc/rrfs-workflow_meta.h.in
!sorc/rrfs-workflow.settings.in
ush/config.sh
ush/*.swp
ush/__pycache__/
ush/python_utils/__pycache__/
fix/.agent
fix/tmp
fix/INIT_DONE

__pycache__
*.swp
