_member: &memberConfig
  date: &analysisDate '@analysisDate@'
  state variables:
  - water_vapor_mixing_ratio_wrt_moist_air
  - air_pressure_at_surface
  - air_temperature
  - northward_wind
  - eastward_wind
  - air_potential_temperature
  - dry_air_density
  - u
  - water_vapor_mixing_ratio_wrt_dry_air
  - air_pressure
  - landmask
  - seaice_fraction
  - snowc
  - skin_temperature_at_surface
  - ivgtyp
  - isltyp
  - snowh
  - vegetation_area_fraction
  - air_temperature_at_2m
  - water_vapor_mixing_ratio_wrt_moist_air_at_2m
  - eastward_wind_at_10m
  - northward_wind_at_10m
  - lai
  - smois
  - tslb
  - pressure_p
  - cloud_liquid_water
  - cloud_liquid_ice
  - graupel
  - rain_water
  - snow_water
  - cldfrac
  - equivalent_reflectivity_factor
  - w
  - upward_air_velocity
  stream name: background

increment variables: [air_temperature, water_vapor_mixing_ratio_wrt_moist_air, eastward_wind, northward_wind, air_pressure_at_surface, cloud_liquid_water, cloud_liquid_ice, rain_water, snow_water, graupel, equivalent_reflectivity_factor, upward_air_velocity]

output mean prior:
  filename: ./prior_mean.nc
  stream name: background

output:
  filename: ./data/ens/mem%{member}%.nc
  stream name: analysis

time window:
  begin: '@beginDate@'
  length: PT4H

geometry:
  nml_file: ./namelist.atmosphere
  streams_file: ./streams.atmosphere
  deallocate non-da fields: true
  interpolation type: unstructured
  iterator dimension: 2

background:
  members from template:
    template:
      <<: *memberConfig
      filename: ./data/ens/mem%iMember%.nc
    pattern: "%iMember%"
    start: 1
    zero padding: 3
    nmembers: 30

driver:
  run as observer only: true
  update obs config with geometry info: false

local ensemble DA:
  solver: Deterministic GETKF
  use linear observer: true
  vertical localization: # current settings use 12 modulated members
    fraction of retained variance: 0.850
    lengthscale: 0.50
    lengthscale units: logp
  inflation:
    rtps: 0.95

observations:
  observers:
{% for observation_from_jcb in observations %}
{% if use_observer(observation_from_jcb) %}
{% filter indent(width=2) %}
{% include observation_from_jcb + '.yaml.j2' %}
{% endfilter %}
{% endif %}
{% endfor %}
