[ufs_utils]
protocol = git
repo_url = https://github.com/ufs-community/UFS_UTILS
# Specify either a branch name or a hash but not both.
#branch = develop
# This hash is for the ufs_utils_1_12_3 tag
hash = 9040c82
local_path = UFS_UTILS
required = True

[ufs-weather-model]
protocol = git
#### repo_url = https://github.com/ufs-community/ufs-weather-model
repo_url = https://github.com/DusanJovic-NOAA/ufs-weather-model.git
# Specify either a branch name or a hash but not both.
#branch = production/RRFS.v1
hash = 3411cb
local_path = ufs-weather-model
required = True

[UPP]
protocol = git
repo_url = https://github.com/NOAA-EMC/UPP
# Specify either a branch name or a hash but not both.
#branch = release/rrfs_v1
hash = 35296b9
local_path = UPP
required = True
externals = None

[python_graphics]
protocol = git
repo_url = https://github.com/NOAA-GSL/pygraf
hash = 85511b8
local_path = ../python_graphics
required = True

[GSI]
protocol = git
repo_url = https://github.com/NOAA-EMC/GSI
# Specify either a branch name or a hash but not both.
#branch = release/rrfs.v1.0.0
hash = abf57f6
local_path = gsi
required = True
externals = None

[rrfs_utl]
protocol = git
repo_url = https://github.com/NOAA-GSL/rrfs_utl
# Specify either a branch name or a hash but not both.
#branch = production/RRFS.v1
hash = 3d381bf
local_path = rrfs_utl
required = True

[AQM-utils]
protocol = git
repo_url = https://github.com/NOAA-EMC/AQM-utils
# Specify either a branch name or a hash but not both.
# branch = develop
hash = 5639a9d
local_path = AQM-utils
required = True

[RDASApp]
protocol = git
repo_url = https://github.com/NOAA-EMC/RDASApp
# Specify either a branch name or a hash but not both.
# branch = develop
hash = f3b7ea9
local_path = RDASApp
required = True

[externals_description]
schema_version = 1.0.0
