     - obs space:
         name: aircft_uv230
         distribution:
           name: "RoundRobin"
           halo size: 500e3
         obsdatain:
           engine:
             type: H5File
             obsfile: "data/obs/ioda_aircft.nc"
             missing file action: "warn"
           obsgrouping:
             group variables: ["stationIdentification"]
             sort variable: "pressure"
             sort order: "descending"
         obsdataout:
           empty obs space action: "{{emptyObsSpaceAction}}"
           engine:
             type: H5File
             obsfile: jdiag_aircft_uv230.nc
             allow overwrite: true
         io pool:
           max pool size: 1
         observed variables: [windEastward, windNorthward]
         simulated variables: [windEastward, windNorthward]

       obs operator:
           name: VertInterp
           vertical coordinate: air_pressure
           observation vertical coordinate: pressure
           observation vertical coordinate group: MetaData
           interpolation method: log-linear
           #gsi geovals:
           #  filename: "obsout/aircraft_uv_geoval_2022052619.nc"
           #  levels_are_top_down: False
           variables:
           - name: windEastward
           - name: windNorthward

       linear obs operator:
         name: VertInterp

       obs error:
         covariance model: diagonal

       obs localizations:
         - localization method: Horizontal Gaspari-Cohn
           lengthscale: 200e3 # orig

       obs filters:
         # ------------------
         # wind (230)
         # ------------------
         # Reject all obs with QualityMarker > 3
         - filter: RejectList
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: QualityMarker/windEastward
             is_in: 4-15
             value: is_not_valid
           where operator: or
           action:
             name: reduce obs space

         # Time window filter
         - filter: Domain Check
           where:
             - variable:
                 name: MetaData/timeOffset # units: s
               minvalue: -5400
               maxvalue:  5400
           action:
             name: reduce obs space

         # Duplicate Check
#         - filter: Temporal Thinning
#           filter variables:
#           - name: windEastward
#           - name: windNorthward
#           min_spacing: PT90M
#           tolerance: PT0H
#           seed_time: "{{analysisDate}}"
#           category_variable:
#             name: MetaData/longitude_latitude_pressure
#           action:
#             name: reduce obs space

         # Online domain check
         - filter: Bounds Check
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name:  GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5

         # Initial error assignment
         - filter: Perform Action
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: ObsType/windEastward
             is_in: 230
           action:
             name: assign error
             error function:
               name: ObsFunction/ObsErrorModelStepwiseLinear
               options:
                 xvar:
                   name: MetaData/pressure
                 xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
                 errors: [3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951, 3.2951]

         # Error inflation (windEastward) based on pressure check (setupw.f90)
         - filter: Perform Action
           filter variables:
           - name: windEastward
           where:
           - variable: ObsType/windEastward
             is_in: 230
           action:
             name: inflate error
             inflation variable:
               name: ObsFunction/ObsErrorFactorPressureCheck
               options:
                 variable: windEastward
                 inflation factor: 4.0

         # Error inflation (windNorthward) based on pressure check (setupw.f90)
         - filter: Perform Action
           filter variables:
           - name: windNorthward
           where:
           - variable: ObsType/windNorthward
             is_in: 230
           action:
             name: inflate error
             inflation variable:
               name: ObsFunction/ObsErrorFactorPressureCheck
               options:
                 variable: windNorthward
                 inflation factor: 4.0

#         # Error inflation (windEastward) based on errormod (qcmod.f90)
#         - filter: Perform Action
#           filter variables:
#           - name: windEastward
#           where:
#           - variable: ObsType/windEastward
#             is_in: 230
#           action:
#             name: inflate error
#             inflation variable:
#               name: ObsFunction/ObsErrorFactorConventional
#               options:
#                 inflate variables: [windEastward]
#                 test QCflag: QualityMarker
#                 test QCthreshold: 3
#                 distance threshold: 0
#                 pressure: MetaData/pressure

#         # Error inflation (windNorthward) based on errormod (qcmod.f90)
#         - filter: Perform Action
#           filter variables:
#           - name: windNorthward
#           where:
#           - variable: ObsType/windNorthward
#             is_in: 230
#           action:
#             name: inflate error
#             inflation variable:
#               name: ObsFunction/ObsErrorFactorConventional
#               options:
#                 inflate variables: [windNorthward]
#                 test QCflag: QualityMarker
#                 test QCthreshold: 3
#                 distance threshold: 0
#                 pressure: MetaData/pressure

         # Error inflation when QualityMarker == 3 (read_prepbufr.f90)
         - filter: Perform Action
           filter variables:
           - name: windEastward
           - name: windNorthward
           action:
             name: inflate error
             inflation factor: 1.2
           where:
           - variable: QualityMarker/windEastward
             is_in: 3

         # Error inflation when observation pressure < 50 hPa (read_prepbufr.f90)
         - filter: Perform Action
           filter variables:
           - name: windEastward
           - name: windNorthward
           action:
             name: inflate error
             inflation factor: 1.2
           where:
           - variable: MetaData/pressure
             maxvalue: 5000.0

         # Bounds Check (ObsError)
         - filter: Bounds Check
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name:  ObsErrorData/windEastward
           minvalue: 0.0
           maxvalue: 1000
           action:
             name: reduce obs space

         # Bounds Check (ObsValue)
         - filter: Bounds Check
           filter variables:
           - name: windEastward
           - name: windNorthward
           minvalue: -200
           maxvalue: 200
           action:
             name: reduce obs space

         # Gross Error Check (windEastward)
         - filter: Background Check
           apply at iterations: 0,1
           filter variables:
           - name: windEastward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 230 ]
               cgross:     [ 6.0 ]
               error_min:  [ 1.4 ]
               error_max:  [ 6.1 ]
               variable: windEastward
           where:
           - variable: QualityMarker/windEastward
             is_not_in: 3
           action:
             name: reject
           defer to post: true

         # Gross Error Check (windNorthward)
         - filter: Background Check
           apply at iterations: 0,1
           filter variables:
           - name: windNorthward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 230 ]
               cgross:     [ 6.0 ]
               error_min:  [ 1.4 ]
               error_max:  [ 6.1 ]
               variable: windNorthward
           where:
           - variable: QualityMarker/windNorthward
             is_not_in: 3
           action:
             name: reject
           defer to post: true

         # Gross Error Check (windEastward): cgross*0.7 if QualityMarker=3
         - filter: Background Check
           apply at iterations: 0,1
           filter variables:
           - name: windEastward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 230 ]
               cgross:     [ 4.2 ]
               error_min:  [ 1.4 ]
               error_max:  [ 6.1 ]
               variable: windEastward
           where:
           - variable: QualityMarker/windEastward
             is_in: 3
           action:
             name: reject
           defer to post: true

         # Gross Error Check (windNorthward): cgross*0.7 if QualityMarker=3
         - filter: Background Check
           apply at iterations: 0,1
           filter variables:
           - name: windNorthward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 230 ]
               cgross:     [ 4.2 ]
               error_min:  [ 1.4 ]
               error_max:  [ 6.1 ]
               variable: windNorthward
           where:
           - variable: QualityMarker/windNorthward
             is_in: 3
           action:
             name: reject
           defer to post: true

         #- filter: GOMsaver
         #  filename: ./data/geovals/aircft_geovals_rrfs.nc
