     - obs space:
         name: satwnd_uv245_272
         distribution:
           name: "RoundRobin"
           halo size: 500e3
         obsdatain:
           engine:
             type: H5File
             obsfile: "data/obs/ioda_satwnd.abi_goes-18.nc"
             missing file action: "warn"
         obsdataout:
           empty obs space action: "{{emptyObsSpaceAction}}"
           engine:
             type: H5File
             obsfile: jdiag_satwnd_uv245_272.nc
             allow overwrite: true
         io pool:
           max pool size: 1
         observed variables: [windEastward, windNorthward]
         simulated variables: [windEastward, windNorthward]

       obs operator:
           name: VertInterp
           vertical coordinate: air_pressure
           observation vertical coordinate: pressure
           observation vertical coordinate group: MetaData
           interpolation method: log-linear
           variables:
           - name: windEastward
           - name: windNorthward

       linear obs operator:
         name: VertInterp

       obs error:
         covariance model: diagonal

       obs localizations:
         - localization method: Horizontal Gaspari-Cohn
           lengthscale: 200e3 # orig

       obs filters:
         # ------------------
         # wind (245)
         # ------------------
         # Time window filter
         - filter: Bounds Check
           udescriptor: "time_window_check"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name: MetaData/timeOffset
           minvalue: -5400
           maxvalue: 5400
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reduce obs space

         # Duplicate Check
#         - filter: Temporal Thinning
#           udescriptor: "duplicate_check"
#           filter variables:
#           - name: windEastward
#           - name: windNorthward
#           min_spacing: PT90M
#           tolerance: PT0H
#           seed_time: "{{analysisDate}}"
#           category_variable:
#             name: MetaData/longitude_latitude_pressure
#           where:
#           - variable: ObsType/windEastward
#             is_in: 245
#           - variable: MetaData/satelliteIdentifier
#             is_in: 272
#           action:
#             name: reduce obs space

         # Online domain check
         - filter: Bounds Check
           udescriptor: "online_domain_check"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name:  GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5

         # Initial error assignment
         - filter: Perform Action
           udescriptor: "initial_error_assignment"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: assign error
             error function:
               name: ObsFunction/ObsErrorModelStepwiseLinear
               options:
                 xvar:
                   name: MetaData/pressure
                 xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
                 errors: [3.8, 3.8, 3.8, 3.8, 3.8, 3.8, 3.8, 3.8, 3.9, 3.9, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0]

         # Error inflation (windEastward) based on pressure check (setupw.f90)
         - filter: Perform Action
           udescriptor: "error_inflation_pressure_check"
           filter variables:
           - name: windEastward
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: inflate error
             inflation variable:
               name: ObsFunction/ObsErrorFactorPressureCheck
               options:
                 variable: windEastward
                 inflation factor: 4.0

         # Error inflation (windNorthward) based on pressure check (setupw.f90)
         - filter: Perform Action
           udescriptor: "error_inflation_pressure_check"
           filter variables:
           - name: windNorthward
           where:
           - variable: ObsType/windNorthward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: inflate error
             inflation variable:
               name: ObsFunction/ObsErrorFactorPressureCheck
               options:
                 variable: windNorthward
                 inflation factor: 4.0

         # Bounds Check (ObsValue)
         - filter: Bounds Check
           udescriptor: "bounds_check_ObsValue"
           filter variables:
           - name: windEastward
           - name: windNorthward
           minvalue: -130
           maxvalue: 130
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reduce obs space

         # Reject obs with qiWithoutForecast < 90. OR > 100.
         - filter: Bounds Check
           udescriptor: "bounds_check_qifn"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name: MetaData/qiWithoutForecast
           minvalue: 90.
           maxvalue: 100.
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject obs with satellite zenith angle > 68
         - filter: Bounds Check
           udescriptor: "bounds_check_satellite_zenith_angle"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name: MetaData/satelliteZenithAngle
           maxvalue: 68.
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject obs with pressure < 150 mb
         - filter: Bounds Check
           udescriptor: "bounds_check_pressure"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name: MetaData/pressure
           minvalue: 15000.
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject obs over land (isli=1) where pressure > 850 mb
         - filter: Perform Action
           udescriptor: "bounds_check_pressure_over_land"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: MetaData/pressure
             minvalue: 85000.
           - variable: GeoVaLs/land_area_fraction
             minvalue: 0.99
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject obs with pct1 (Coeff. of Var.) outside of 0.04-0.5
         - filter: Bounds Check
           udescriptor: "bounds_check_pct1"
           filter variables:
           - name: windEastward
           - name: windNorthward
           test variables:
           - name: MetaData/coefficientOfVariation
           minvalue: 0.04
           maxvalue: 0.5
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject data over non-water surface type where latitude > 20N
         - filter: Perform Action
           udescriptor: "bounds_check_reject_over_nonwater"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: MetaData/latitude
             minvalue: 20.
           - variable: GeoVaLs/water_area_fraction
             maxvalue: 0.99
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Low wind speed check
         - filter: Perform Action
           udescriptor: "reject_low_speed_amv"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: ObsFunction/Velocity
             maxvalue: 0.1
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # AMV expected error norm check
         - filter: Perform Action
           udescriptor: "amv_experr_norm_check"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: ObsFunction/Velocity
             minvalue: 0.1
           - variable: MetaData/exp_err_norm
             minvalue: 0.9
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Halve the ob error (based on read_satwnd.f90)
         - filter: Perform Action
           udescriptor: "ob_error_inflation"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: inflate error
             inflation factor: 0.5

         # Reject when pressure is more than 50 mb above tropopause
         - filter: Difference Check
           udescriptor: "difference_check_tropopause_pressure"
           filter variables:
           - name: windEastward
           - name: windNorthward
           reference: GeoVaLs/tropopause_pressure
           value: MetaData/pressure
           minvalue: -5000.  # 50 hPa above tropopause level, negative p-diff
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject any observation within 100 mb of the surface pressure
         - filter: Difference Check
           udescriptor: "difference_check_air_pressure_at_surface"
           filter variables:
           - name: windEastward
           - name: windNorthward
           reference: GeoVaLs/air_pressure_at_surface
           value: MetaData/pressure
           maxvalue: -10000.  # within 100 hPa above surface pressure, negative p-diff
           where:
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Reject when pressure between 399 and 801 mb.
         - filter: Perform Action
           udescriptor: "pressure_range_check"
           filter variables:
           - name: windEastward
           - name: windNorthward
           where:
           - variable: MetaData/pressure
             minvalue: 39901.
             maxvalue: 80099.
           - variable: ObsType/windEastward
             is_in: 245
           - variable: MetaData/satelliteIdentifier
             is_in: 272
           action:
             name: reject

         # Gross Error Check (windEastward)
         - filter: Background Check
           udescriptor: "gross_error_check"
           apply at iterations: 0,1
           filter variables:
           - name: windEastward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 245 ]
               cgross:     [ 2.5 ]
               error_min:  [ 1.4 ]
               error_max:  [ 5.0 ]
               variable: windEastward
           action:
             name: reject
           defer to post: true

         # Gross Error Check (windNorthward)
         - filter: Background Check
           udescriptor: "gross_error_check"
           apply at iterations: 0,1
           filter variables:
           - name: windNorthward
           function absolute threshold:
           - name: ObsFunction/WindsSPDBCheck
             options:
               wndtype:    [ 245 ]
               cgross:     [ 2.5 ]
               error_min:  [ 1.4 ]
               error_max:  [ 5.0 ]
               variable: windNorthward
           action:
             name: reject
           defer to post: true
