# This workflow will build the documentation.
#
# Edward Hartnett, 9/16/24

name: docs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  docs:

    runs-on: ubuntu-latest
    env:
      FC: mpifort
      CC: mpicc
      FCFLAGS: -fallow-argument-mismatch

    steps:
    - name: install-dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libpng-dev zlib1g-dev libjpeg-dev doxygen libmpich-dev
        sudo apt-get install libnetcdf-dev libnetcdff-dev netcdf-bin pkg-config        
    - name: checkout
      uses: actions/checkout@v4
      with:
        path: rrfs-workflow
        submodules: true

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install sphinx sphinxcontrib-bibtex sphinx-rtd-theme numpy matplotlib pandas cartopy pandas cartopy f90nml netCDF4 xarray scipy 
    - name: Build docs
      run: |
        cd rrfs-workflow/doc/UsersGuide
        sphinx-apidoc -o source/ ../../ush/
        #sphinx-build -W --keep-going source build
        sphinx-build source build
    - uses: actions/upload-artifact@v4
      with:
        name: rrfs-workflow docs
        path: |
          rrfs-workflow/doc/UsersGuide/build
        
